<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../style/style.css">
    
        <title>Página no encontrada</title>
    </head>
    
    <body>
        <header class="header">
            <img class="header__img" src="../assets/header/logo.png" alt="">
            <div class="header__menu">
                <div class="header__menu--profile">
                    <img src="../assets/header/pefilWhite.png" alt="User ">
                    <p>Perfil</p>
                </div>
                <ul>
                    <li>
                        <a href="">Cuenta</a>
                    </li>
                    <li>
                        <a href="">Cerrar Sesion</a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="error">
            <h1 class="pulse">404</h1>
            <p>La página que buscas no existe...</p>
            <div class="error__irInicio">
                <a href="">Llevame al inicio</a>
            </div>
        </div>
        <footer class="footer">
            <a href="/"> Términos de uso</a>
            <a href="/"> Declaración de privacidad</a>
            <a href="/"> Centro de ayuda</a>
        </footer>
</body>
</html>